<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>cStreet</title>
	<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.7.1/slick/slick.css"/>
	<!-- Add the slick-theme.css if you want default styling -->
	<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.7.1/slick/slick-theme.css"/>
	<!-- <link rel="stylesheet" type="text/css" href="dist/styles/slick.css"/>
	<link rel="stylesheet" type="text/css" href="dist/styles/slick-theme.css"/> -->
	<link rel="stylesheet" href="dist/styles/main.css">
</head>
<body>
	{{> header}}
	{{> header-text}}
	{{> main-image-carousel}}
	{{> footer}}

	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
	<!-- <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script> -->
	<script type="text/javascript" src="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.7.1/slick/slick.min.js"></script>
	<!-- <script type="text/javascript" src="dist/scripts/slick.min.js"></script>	 -->
	<script src="dist/scripts/main.js"></script>
</body>
</html>