<footer>
	<div class="wrapper footer-flex-container">
		<div class="footer-text">
			<h6 class="uppercase small-text">Ready to start your project?</h6>
			<a href="#" class="uppercase">Work with us</a>
		</div>
		<div class="nationbuilder-img">
			<a href="#">
				<img src="http://d3n8a8pro7vhmx.cloudfront.net/themes/551345992213933f92000001/attachments/original/1429329121/nb-footer.svg?1429329121">
			</a>
		</div>
	</div>
</footer>

	
	