<div class="header-text">
	<div class="wrapper">	
		<p class="biggest-text">
			Our clients are leading the progressive movement in North America and around the world.*
		</p>
		<p class="medium-text">
			* and they’re also some of our favourite people
		</p>
	</div>
</div>