<div class="header-text">
	<div class="wrapper">	
		<h2>
			Our clients are leading the progressive movement in North America and around the world.*
		</h2>
		<h5>
			* and they’re also some of our favourite people
		</h5>
	</div>
</div>