<header>
	<nav class="wrapper">
		<div class="logo">
			<a href="#">
				<img alt="cStreet Campaigns: Accelerating Progressive Change" src="http://d3n8a8pro7vhmx.cloudfront.net/themes/551345992213933f92000001/attachments/original/1450361700/whitelogo-simple.svg?1450361700">
			</a>
		</div>
		<div class="nav-menu">
			<ul class="uppercase small-text">
				<li>Careers</li>
				<li>Contact</li>
				<li>Blog</li>
				<li>Our Work</li>
				<li>Hustle</li>
			</ul>
		</div>
	</nav>
</header>
	