
<div class="main-image-carousel">

  	<div style="width: 250px; background-image: url('http://d3n8a8pro7vhmx.cloudfront.net/themes/551345992213933f92000001/attachments/original/1437005085/SEIU.jpg?1437005085');" class="image-container">
	  	<a href="#" class="wrap">
		  	<h6>SEIU HEALTHCARE BRIEF</h6>
		  	<h3>Boost member engagement</h3>
	  	</a>
	</div>

  	<div  style="background-image: url('http://d3n8a8pro7vhmx.cloudfront.net/themes/551345992213933f92000001/attachments/original/1437005071/Eden.jpg?1437005071')" class="image-container">
	  	<a href="/latest_launch_eden_projects" class="wrap">
	  		<h6>EDEN PROJECTS BRIEF</h6>
	  		<h3>Crowdsource millions of trees</h3>
	  	</a>
  	</div>

	<div style="background-image: url('http://d3n8a8pro7vhmx.cloudfront.net/themes/551345992213933f92000001/attachments/original/1468421178/pivot.png?1468421178')" class="image-container">
	  	<a href="/latest_launch_eden_projects"  class="wrap">
	  		<h6>Pivot Legal Brief:</h6>
	  		<h3>Supporter acquisition and engagement</h3>
	  	</a>
	</div>

	<div  style="background-image: url('http://d3n8a8pro7vhmx.cloudfront.net/themes/551345992213933f92000001/attachments/original/1468419975/bcgeu.jpg?1468419975')" class="image-container">
	  	<a  href="/the_most_technologically_advanced_union_in_north_america" class="wrap">
	  		<h6>BCGEU Brief:</h6>
	  		<h3>Engaging union members</h3>
	  	</a>
  	</div>

  	<div style="background-image: url('http://d3n8a8pro7vhmx.cloudfront.net/themes/551345992213933f92000001/attachments/original/1468418844/fcm.jpg?1468418844')" class="image-container">
	  	<a  href="/meet_pivot_legal_society" class="wrap">
	  		<h6>FCM Brief:</h6>
	  		<h3>Raising the profile of Cities</h3>
	  	</a>
	</div>

	<div  style="background-image: url('http://d3n8a8pro7vhmx.cloudfront.net/themes/551345992213933f92000001/attachments/original/1437005071/Eden.jpg?1437005071')" class="image-container">
	  	<a href="/latest_launch_eden_projects" class="wrap">
	  		<h6>EDEN PROJECTS BRIEF</h6>
	  		<h3>Crowdsource millions of trees</h3>
	  	</a>
  	</div>

	<div style="background-image: url('http://d3n8a8pro7vhmx.cloudfront.net/themes/551345992213933f92000001/attachments/original/1468421178/pivot.png?1468421178')" class="image-container">
	  	<a href="/latest_launch_eden_projects"  class="wrap">
	  		<h6>Pivot Legal Brief:</h6>
	  		<h3>Supporter acquisition and engagement</h3>
	  	</a>
	</div>

	<div  style="background-image: url('http://d3n8a8pro7vhmx.cloudfront.net/themes/551345992213933f92000001/attachments/original/1468419975/bcgeu.jpg?1468419975')" class="image-container">
	  	<a  href="/the_most_technologically_advanced_union_in_north_america" class="wrap">
	  		<h6>BCGEU Brief:</h6>
	  		<h3>Engaging union members</h3>
	  	</a>
  	</div>

</div>



  

  

  

  

  
