<!-- <div class="main-image-carousel">

	<div style="background-image: url('http://d3n8a8pro7vhmx.cloudfront.net/themes/551345992213933f92000001/attachments/original/1437005085/SEIU.jpg?1437005085')" >
	  	<a href="#" >
		  	<h6>SEIU HEALTHCARE BRIEF</h6>
		  	<h3>Boost member engagement</h3>
	  	</a>
	</div>

  	<div  style="background-image: url('http://d3n8a8pro7vhmx.cloudfront.net/themes/551345992213933f92000001/attachments/original/1437005071/Eden.jpg?1437005071')">
	  	<a href="/latest_launch_eden_projects" >
	  		<h6>EDEN PROJECTS BRIEF</h6>
	  		<h3>Crowdsource millions of trees</h3>
	  	</a>
  	</div>

	<div class="project slick-slide slick-current slick-active slick-center" style="background-image: url('http://d3n8a8pro7vhmx.cloudfront.net/themes/551345992213933f92000001/attachments/original/1468421178/pivot.png?1468421178')">
		<a  href="/meet_pivot_legal_society" tabindex="0">
			<h6>Pivot Legal Brief:</h6>
			<h3>Supporter acquisition and engagement</h3>
		</a>
	</div>

	<div class="project slick-slide" style="background-image: url('http://d3n8a8pro7vhmx.cloudfront.net/themes/551345992213933f92000001/attachments/original/1468419975/bcgeu.jpg?1468419975')">
	  	<a  href="/the_most_technologically_advanced_union_in_north_america">
	  		<h6>BCGEU Brief:</h6>
	  		<h3>Engaging union members</h3>
	  	</a>
	</div>

	<div class="project slick-slide" style="background-image: url('http://d3n8a8pro7vhmx.cloudfront.net/themes/551345992213933f92000001/attachments/original/1468418844/fcm.jpg?1468418844')" data-slick-index="2"  role="option" aria-describedby="slick-slide02">
	  	<a  href="/new_tools_for_fcm">
	  		<h6>FCM Brief:</h6>
	  		<h3>Raising the profile of Cities</h3>
	  	</a>
	</div>

	<div class="project slick-slide" style="background-image: url('http://d3n8a8pro7vhmx.cloudfront.net/themes/551345992213933f92000001/attachments/original/1437005074/GenUN.jpg?1437005074')">
	  	<a  href="/latest_launch_genun">
	  		<h6>UNA-USA BRIEF:</h6>
	  		<h3>Engage a new generation</h3>
	  	</a>
	</div>

	<div class="project slick-slide" style="background-image: url('http://d3n8a8pro7vhmx.cloudfront.net/themes/551345992213933f92000001/attachments/original/1437005081/RAN.jpg?1437005081')">
	  	<a href="/change_the_course" >
		  	<h6>RAINFOREST ACTION NETWORK BRIEF:</h6>
		  	<h3>Envision a climate stable future</h3>
	  	</a>
	</div>

	<div class="project slick-slide" style="background-image: url('http://d3n8a8pro7vhmx.cloudfront.net/themes/551345992213933f92000001/attachments/original/1437005087/Upstream.jpg?1437005087')">
	  	<a href="/latest_launch_upstream" >
	  		<h6>UPSTREAM BRIEF:</h6>
	  		<h3>Expose the many factors of health</h3>
	  	</a>
	</div>

	<div class="project slick-slide" style="background-image: url('http://d3n8a8pro7vhmx.cloudfront.net/themes/551345992213933f92000001/attachments/original/1437005076/idlenomore.jpg?1437005076')">
	  	<a href="/latest_launch_idle_no_more" >
		  	<h6>IDLE NO MORE BRIEF:</h6>
		  	<h3>Rally Nations for a revolution</h3>
	  	</a>
	</div>

	<div class="project slick-slide" style="background-image: url('http://d3n8a8pro7vhmx.cloudfront.net/themes/551345992213933f92000001/attachments/original/1437005085/SEIU.jpg?1437005085')">
	  	<a href="/latest_launch_seiu_healthcare" >
	  		<h6>SEIU HEALTHCARE BRIEF</h6>
	  		<h3>Boost member engagement</h3>
	  	</a>
	</div>

	<div style="background-image: url('http://d3n8a8pro7vhmx.cloudfront.net/themes/551345992213933f92000001/attachments/original/1437005071/Eden.jpg?1437005071')">
	  	<a href="/latest_launch_eden_projects" >
	  		<h6>EDEN PROJECTS BRIEF</h6>
	  		<h3>Crowdsource millions of trees</h3>
	  	</a>
	</div>

	<div style="background-image: url('http://d3n8a8pro7vhmx.cloudfront.net/themes/551345992213933f92000001/attachments/original/1468421178/pivot.png?1468421178')">
	  	<a  href="/meet_pivot_legal_society">
	  		<h6>Pivot Legal Brief:</h6>
	  		<h3>Supporter acquisition and engagement</h3>
	  	</a>
	</div>

	<div  style="background-image: url('http://d3n8a8pro7vhmx.cloudfront.net/themes/551345992213933f92000001/attachments/original/1468419975/bcgeu.jpg?1468419975')">
	  	<a  href="/the_most_technologically_advanced_union_in_north_america">
	  		<h6>BCGEU Brief:</h6>
	  		<h3>Engaging union members</h3>
	  	</a>
  	</div>
	
</div> -->


  

  

  

  

  

  
